{% extends 'base.html' %}
{% block content %}
<section>
    <div class="navbar navbar-dark bg-dark">
        <span class="text-light fs-4 ms-2">ExpenseTracker</span>
        <div class="dropdown ms-auto me-2">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">{{data['username']}}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="d-flex" style="height:400px">
        <div class="col-6 p-3">
            <div class="h-100 rounded bg-light p-3">
                <div class="bg-white rounded p-3 m-1">
                    <div class="row">
                        <div class="col">
                            <span class="fs-4">Balance:</span>
                            <span class="fs-3">{{data['balance']}}</span>
                            <br>
                            <span class="fs-6">Monthly Limit:</span>
                            <span class="fs-6">{{data['balance']}}</span>
                        </div>
                        <div class="col d-flex justify-content-end me-3 align-items-center">
                            <button type="button" class="btn btn-dark text-center" data-toggle="modal" data-target="#setLimit">Set Limit</button>
                            <div class="modal fade" id="setLimit" tabindex="-1" role="dialog" aria-labelledby="setLimitCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form action="/add_limit" method="post">
                                                <div class="mb-2 form-group">
                                                    <label for="limitamount" class="form-label">Amount</label>
                                                    <input type="number" name="amount" id="limitamount" class="form-control">
                                                </div>
                                                <input type="submit" value="Save" class="btn btn-dark">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-4 d-flex justify-content-center">
                        <div class="text-center">
                            <button type="button" class="btn btn-dark text-center" data-toggle="modal" data-target="#addIncome">Add Income</button>
                            <div class="modal fade" id="addIncome" tabindex="-1" role="dialog" aria-labelledby="addExpenseCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form action="/add" method="post">
                                                <div class="mb-2 form-group">
                                                    <label for="incomeamount" class="form-label">Amount</label>
                                                    <input type="number" name="amount" id="incomeamount" class="form-control">
                                                </div>
                                                <div class="mb-2 form-group">
                                                    <label for="incomenote" class="form-label">Note</label>
                                                    <input type="text" name="note" id="incomenote" class="form-control">
                                                </div>
                                                <div class="mb-2 form-group">
                                                    <label for="incomecategory">Category</label>
                                                    <select class="form-control" id="incomecategory" name="category">
                                                        <option>Salary</option>
                                                        <option>Others</option>
                                                    </select>
                                                </div>
                                                <input type="text" name='type' value='Income' hidden>
                                                <input type="submit" value="Save" class="btn btn-dark">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="fs-6">Total Income :</span>
                                <span class="fs-6">{{data['income']}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col p-4 d-flex justify-content-center">
                        <div class="text-center">
                            <button type="button" class="btn btn-dark text-center" data-toggle="modal" data-target="#addExpense">Add Expense</button>
                            <div class="modal fade" id="addExpense" tabindex="-1" role="dialog" aria-labelledby="addExpenseCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form action="/add" method="post">
                                                <div class="mb-2 form-group">
                                                    <label for="amount" class="form-label">Amount</label>
                                                    <input type="number" name="amount" id="amount" class="form-control">
                                                </div>
                                                <div class="mb-2 form-group">
                                                    <label for="note" class="form-label">Note</label>
                                                    <input type="text" name="note" id="note" class="form-control">
                                                </div>
                                                <div class="mb-2 form-group">
                                                    <label for="category">Category</label>
                                                    <select class="form-control" id="category" name="category">
                                                        <option>Food</option>
                                                        <option>Provision</option>
                                                        <option>Rent</option>
                                                        <option>Others</option>
                                                    </select>
                                                </div>
                                                <input type="text" name='type' value='Expense' hidden>
                                                <input type="submit" value="Save" class="btn btn-dark">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <span class="fs-6">Total Expense :</span>
                                <span class="fs-6">{{data['expense']}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-3">
            <div class="h-100 rounded bg-light p-3">
                <h3>Recent Transactions</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Amount</th>
                            <th scope="col">Category</th>
                            <th scope="col">Note</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in data['transactions'] %}
                            <tr>
                                <td>{{transaction['type']}}</td>
                                <td>{{transaction['amount']}}</td>
                                <td>{{transaction['category']}}</td>
                                <td>{{transaction['note']}}</td>
                                <td>{{transaction['time']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                    <a href="/transactions">Show all transactions</a>
                </div>
            </div>
        </div>
    </div>
    <canvas id="graph" width="800" height="200" class="m-3 rounded bg-light"></canvas>
    
</section>


{% endblock %}